.THIS .verticalAlign {
	cursor: pointer;
	margin: 6px 0px 0px 6px!important;
}
.THIS .fullWidth {
	width: 100% !important;
}

.THIS .pillSize{
    width:100%;
    padding-top: 5px;
}
.THIS .slds-pill-container {
     height:35px;
}

.THIS .slds-pill{
    display: inline-block !important;
}

.THIS .slds-pill__label{
    display: inline-block !important;
}

.THIS .slds-pill__remove{
    margin-bottom: 10px;
    float: right;
}
.THIS .recordListBox {
	margin-top:0px !important;
	overflow-y: scroll;
}
.THIS .inputBox input {
	padding-left: 30px;
    height:34px;
    width : 442px;
}
.THIS .eachItem:hover {
    background-color: #EEE;
    cursor: pointer;
}
.THIS .inputIcon {
	z-index: 99;
    padding: 2px 0;
}
 
/* For Scrolling */
.THIS ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
.THIS ::-webkit-scrollbar-track {
   display: none !important;
}
.THIS ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
}

.THIS .inputLookup{
    height: 35px !important;
}