.THIS .leftPaddingClass {
    padding-left: 2rem;
}
 
.THIS .pillSize{
    width:100%;
    padding-top : 8px;
}
.THIS .slds-pill-container {
     height:35px;
}

.THIS .slds-pill{
    display: inline-block !important;
}

.THIS .slds-pill__label{
    display: inline-block !important;
}

.THIS .slds-pill__remove{
    margin-bottom: 10px;
    float: right;
}